body {
  background-color: #2bd4df;
}

h1 {
  color: #4c0ba4;
  font-family: Courier, monospace;
  font-size: 85px;
  animation-name: backInRight;
  animation-direction: reverse;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: initial;
  float: left;
}
@keyframes backInRight {
  100% {
    transform: translate(3000px, 0px);
  }
}
.github {
  position: absolute;
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-left: 1650px;
  float: right;
}

.linkedin {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: 1800px;
  margin-top: 35;
  float: right;
}

.gmail {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: 35px;
  margin-left: 1950px;
  float: right;
}

.hello-world {
  position: absolute;
  width: 1000px;
  height: 980px;
  margin-left: 400px;
  margin-top: -60px;
}

.astronaut {
  position: absolute;
  animation-name: floating;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  width: 444px;
  height: 565px;
  top: 220px;
  margin-left: 1400px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 55px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.box {
  border-style: solid;
  border-color: #000000;
  position: absolute;
  padding: 0px 400px;
  text-align: center;
  top: 850px;
  left: 680px;
}

.city {
  color: #c00a98;
  font-family: Apple Chancery;
  font-size: 65px;
}

.middle {
  color: #c00a98;
  font-family: FreeMono, monospace;
  font-size: 55px;
}

.study {
  color: #c00a98;
  font-family: FreeMono, monospace;
  font-size: 55px;
}

.snapit {
  position: absolute;
  width: 200px;
  bottom: 100px;
  left: 45px;
}

.js-logo {
  position: absolute;
  width: 250px;
  bottom: 150px;
  right: 45px;
}

.moon {
  position: absolute;
  height: 533px;
  width: 557px;
  top: -550px;
  left: -550px;
}

.resume {
  position: absolute;
  width: 110px;
  height: 110px;
  margin-top: 30px;
  margin-left: 2100px;
  float: right;
}

.projects {
  
  position: absolute;
  width: 500px;
  height: 300px;
  margin-top: 1020px;
  margin-left: 10px;
  opacity: 0.5;
}
